<div id="nav-wrapper">
  <div class="nav-inner">
    <div class="home-link"> 
      <%= image_tag 'fly_swatter.png', height: '30px' %> <%= link_to 'FLY SWATTER', root_url %>
    </div>

    <div class="sign-in-out-wrapper">
    <% unless signed_in?  %>
      <%= link_to "Sign in", signin_path %>
      |
      <%= link_to "Sign up", signup_path unless signed_in? %>
    <% end %>
    <% if signed_in? %>
      <%= link_to "Sign out", signout_path, method: "delete" %> 
    <% end %>
    </div>
  </div>
</div>
