<div id="nav-wrapper">
  <%= image_tag 'fly_swatter.png', height: '40px' %>
  <h1><%= link_to 'FLY SWATTER', root_url %></h1>
  <% unless signed_in?  %>
    <%= link_to "Sign in", signin_path %>
    |
    <%= link_to "Sign up", signup_path unless signed_in? %>
  <% end %>
  <% if signed_in? %>
    Hey <%= current_user.email %> - 
    <%= link_to "Sign out like a bitch", signout_path, method: "delete" %> 
  <% end %>
</div>
